body {
    margin: 0;
    font-family: Arial;
    background: #f5f5f5;
}

/* Navbar */
.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: black;
    color: white;
    padding: 10px 20px;
}

.navbar a {
    color: white;
    margin: 0 10px;
    text-decoration: none;
}

.search-box input {
    padding: 6px;
}

/* Products */
.products {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    padding: 20px;
    justify-content: center;
}

.card {
    background: white;
    padding: 15px;
    width: 220px;
    border-radius: 10px;
    text-align: center;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
}

.card img {
    width: 100%;
}

button {
    background: orange;
    color: white;
    border: none;
    padding: 10px;
    cursor: pointer;
}

.card:hover {
    transform: scale(1.05);
    transition: 0.3s;
}

/* About */
.about {
    background: white;
    padding: 40px;
    text-align: center;
}

/* Login Popup */
.login-popup {
    display: none;
    position: fixed;
    top: 0;
    width: 100%;
    height: 100%;
    background: rgba(0,0,0,0.5);
}

.login-content {
    background: white;
    padding: 20px;
    width: 300px;
    margin: 100px auto;
    text-align: center;
    border-radius: 10px;
}

.login-content input {
    width: 90%;
    margin: 10px 0;
    padding: 8px;
}
@media (max-width: 768px) {
    .navbar {
        flex-direction: column;
        text-align: center;
    }

    .products {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(220px, 1fr));
    gap: 20px;
    padding: 20px;


    }

    .card {
        width: 90%;
    }
}
